body{
    font-family:Arial, Helvetica, sans-serifs;
    background-image: url("../images/login_bgimage.png");
}
input[type=name],input[type=email],input[type=password]{
    width:100%;
}
h1{
    padding: 20px;
    color:darkmagenta;
}
.container{
    justify-content: center;
    display: flex;
    padding: 30px;
    line-height: 50px;
    color:solid burlywood;
    cursor:pointer;
    font-size: 20px;
}